@charset "utf-8";

// Kyoto University Esperanto Society - Custom Theme
// Inspired by the yellow/black hand-drawn logo aesthetic

$base-font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     30px !default;

$text-color:       #2A2A2A !default;
$background-color: #FFFEF7 !default;
$brand-color:      #D4A800 !default;
$brand-dark:       #1A1A1A !default;

$grey-color:       #6B6B6B !default;
$grey-color-light: lighten($grey-color, 38%) !default;
$grey-color-dark:  darken($grey-color, 20%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    820px !default;

$on-palm:          600px !default;
$on-laptop:        820px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/gloss",
  "tocbot"
;
