/**
 * Site header - Kyoto Esperanto Society
 */
.site-header {
  background: $brand-dark;
  border-bottom: 4px solid $brand-color;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-title {
  @include relative-font-size(1.5);
  font-weight: 700;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 0;
  margin-bottom: 0;
  margin-right: 0.5em;
  float: left;
  max-width: calc(100% - 40px);
  display: flex;
  align-items: center;

  > img {
    margin: 5px 8px 5px 0;
    width: 2em;
    height: 2em;
    border-radius: 6px;
  }

  &,
  &:visited {
    color: #F5E100;
    border-bottom: none;
  }

  &:hover {
    color: #fff;
    border-bottom: none;
  }
}

.site-nav {
  display: block;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #e8e0b8;
    line-height: $base-line-height;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: color 0.2s, border-color 0.2s;

    &:hover {
      color: #F5E100;
      border-bottom-color: #F5E100;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 9px;
    background-color: $brand-dark;
    border: 1px solid lighten($brand-dark, 20%);
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      flex-shrink: 0;

      > svg {
        fill: #F5E100;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;
      color: #e8e0b8;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
.lang-selector {
  clear: both;
  float: right;
  text-align: right;

  a {
    color: #e8e0b8;
    border-bottom: none;

    &:hover {
      color: #F5E100;
      border-bottom: none;
    }

    &.active {
      color: #F5E100;
      font-weight: 700;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  background: $brand-dark;
  border-top: 4px solid $brand-color;
  padding: $spacing-unit 0;
  color: #c8c0a0;

  a {
    color: #F5E100;
    border-bottom: none;

    &:visited {
      color: darken(#F5E100, 10%);
    }

    &:hover {
      color: #fff;
      border-bottom: none;
    }
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
  color: #F5E100;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: #c8c0a0;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}
.last_modified_date {
  text-align: right;
  color: $grey-color;
  font-size: small;
}

.page-heading {
  @include relative-font-size(2);
}

.toc-list {
  list-style: none !important;
  margin: 0;
  padding-left: 0;
}

.toc-list-item {
  list-style: none !important;
}

.toc-list .toc-list {
  padding-left: 15px;
  list-style: none !important;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: flex;
    margin-bottom: 0.8em;

    > div * {
      margin: 0;
    }
  }
}
.post-meta {
  flex: 0 0 7em;
  color: $grey-color;
}
.converter {
  text-align: center;
  display: flex;
}
.post-tag {
  font-size: $small-font-size;
  color: $grey-color !important;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
